@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}
/* alteracores feitas na web inspeçao*/

body > header:nth-child(1) > div:nth-child(2) > div:nth-child(2) > a:nth-child(1) > button:nth-child(1) {

  margin-left: 20px;
}



#search {

  margin-top: 6px;
}


.buttons {

  display: block ruby;
}



.buttons button {
  color: white;
}

header {

  color: #242323;
}


#toggleButton {

  background-color: #b1dbff;
}



#itemList {

  background-color: #0072d7;
  border: 1px solid rgb(200, 200, 200);
}


#itemList > li:nth-child(1) {

  background-color: #a8d6ff;
}


#itemList > li:nth-child(2) {

  background-color: #a8d6ff;
}



#itemList > li:nth-child(3) {

  background-color: #a8d6ff;
}

  
.search__form input {

  border-radius: 21px;
}
